#Home {
  height: 100%;
}

#Home .d-flex {
  height: 85%;
}

#Home .flex-column {
  width: 55%;
}

#Home .home-title {
  color: #c46725;
  font-size: 6.2rem;
  animation: fade-in 3s forwards;
}

#Home .home-subtitle {
  color: whitesmoke;
  font-size: 2.8rem;
  animation: fade-in 2s forwards;
}

#Home .home-text {
  color: white;
  font-size: 1.1rem;
  animation: fade-in 2s forwards;
}

#Home .animate {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}