/* NAVBAR */

.navbar {
  background: none;
}

.navbar.navbar-scrolled {
  background-color: rgba(1, 1, 1, 0.7);
}

.navbar .logo {
  color: #c46725;
}

.navbar-button span {
  text-decoration: none;
  position: relative;

  transition: 0.5s ease all .3s;
}

.navbar-button span:not(.active-underline)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #9b5321;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar-button:hover span:not(.active-underline)::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-button span.active-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #9b5321;
}

/*==== HOME ====*/

.home-background {
  background: url('./assets/bg-site-3-flip.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

/*==== CV ====*/

.cv-background {
  background: url('./assets/home-bg-1.svg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/*==== SKILLS ====*/

.skills-background {
  background: url('./assets/home-bg-1.svg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/*==== PROJECTS ====*/

.projects-background {
  background: url('./assets/home-bg-1.svg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/*==== CONTACT ====*/

.contact-background {
  background: url('./assets/home-bg-1.svg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
