/*==== GENERAL ====*/

#body {
  font-family: 'Inconsolata', monospace;
  /* font-family: 'Cabin', sans-serif; */
}

.wip {
  height: 15rem;
}

/* NAVBAR */

.navbar {
  background: none;
}


/*==== HOME ====*/

.home-background {
  background: url('./assets/bg-site-3-flip-compressed.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}


/*==== SKILLS ====*/

.skills-background {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}


/*==== PROJECTS ====*/

.projects-background {
  background: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}


/*==== CONTACT ====*/

.contact-background {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}