/* GENERAL */

#body {
  font-family: 'Inconsolata', monospace;
  /* font-family: 'Cabin', sans-serif; */
}

.wip {
  height: 15rem;
}

/* NAVBAR */

.navbar {
  background: none;
}

.navbar.navbar-scrolled {
  background-color: #222831;
}

.navbar .logo {
  color: #c46725;
  font-family: 'Yellowtail', cursive;
}

.navbar-button span {
  text-decoration: none;
  position: relative;

  transition: 0.5s ease all .3s;
}

.navbar-button span:not(.active-underline)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #c46725;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar-button:hover span:not(.active-underline)::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-button span.active-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #c46725;
}

/*==== HOME ====*/

.home-background {
  background: url('./assets/bg-site-3-flip-compressed.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

#Home {
  height: 100%;
}

#Home .d-flex {
  height: 85%;
}

#Home .flex-column {
  width: 55%;
}

#Home .home-title {
  color: #c46725;
  font-size: 6.2rem;
  animation: fade-in 3s forwards;
}

#Home .home-subtitle {
  color: whitesmoke;
  font-size: 2.8rem;
  animation: fade-in 2s forwards;
}

#Home .home-text {
  color: white;
  font-size: 1.1rem;
  animation: fade-in 2s forwards;
}

#Home .animate {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*==== SKILLS ====*/

.skills-background {
  background: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 40vh; */
  width: 100%;
}

/*==== PROJECTS ====*/

.projects-background {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 50vh; */
  width: 100%;
}

/*==== CV ====*/

.cv-background {
  background: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100vh; */
  width: 100%;
}

#CV {
  /* height: 100vh; */
}

/*==== CONTACT ====*/

.contact-background {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 60vh; */
  width: 100%;
}
